#menu{
	padding: 10px;
    border-bottom: 1px solid #eee;
}

#content{
	padding: 10px;
}

table{font-size:14px;}

.addWork{
	/*width:250px;*/float:left;margin-bottom:15px;
}

.search{width:500px;float:right;}

#editForm {
    width: 1000px;
    margin: 0 auto;
    margin-top: 15px;
}

#logout {
    float: right;
    margin: 15px 30px 0 0;
}

a.pravka {
    display: inline-block;
    width: 15px;
    height: 20px;
    background: url(/bootstrap/img/glyphicons-halflings.png) 0 50%;
}

a.dltTypeWork {
    display: inline-block;
    width: 25px;
    height: 20px;
    background: url(/bootstrap/img/glyphicons-halflings.png) 70% 0;
}

div#sort {
    clear: both;
    margin: 10px;
}

#sort a {
    padding: 0 5px;
}

div#createapp {
    float: right;
}

.editWorkDoc {
    display: inline-block;
    margin: 10px 15px;
}

.linkSendMail{
    text-decoration: underline;
    cursor: pointer;
}
.linkSendMail:hover{
    text-decoration: none;
}

#msgPrepay,#msgRemaind{
    color:blue;
    margin:10px 0;
}

span#greenPay {
    color:  #00b300;
}