html,body {
	max-width: 100%;
	height: auto;
	overflow-x: hidden; 
  font-family: 'Roboto';  
}

img {

	max-width: 100%;
}

@font-face {
  font-family: 'Rouble';
  src: url('../css/fonts/rouble.eot');
  src: url('../css/fonts/rouble.eot?#iefix') format('embedded-opentype'),
       url('../css/fonts/rouble.woff') format('woff'),
       url('../css/fonts/rouble.ttf') format('truetype'),
       url('../css/fonts/rouble.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mail-link {
  color: #7ab5e3;
}
.rouble {
    font-family: 'rouble';
    font-weight: normal !important;
    font-size: inherit !important;
}

.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

aside {

	float: left;
	min-width: 250px;
	height: 100%;
	position: fixed;
	z-index: 2;
	border-right: 1px solid #dddddd;
}

aside img {

	display: block;
	margin: 46px auto 0px;
	width: 180px;
}

table:not(.ui-datepicker-calendar) tr>:first-child {border: 1px solid #cdcdcd;box-sizing:border-box;}
td {padding: 20px;font-family: 'Roboto';, Tahoma, Sans-Serif;text-align: center;border: 1px solid #cdcdcd;}
td a {  font-family: 'Roboto'; font-size:21px; text-decoration: none;color: #1E88E5;text-align: center;}
td a:hover {color: black; transition-duration:0.5s;}
td p {  font-family: 'Roboto'; font-size:21px; text-decoration: none;color: #1E88E5;text-align: center;margin: 0!important;}
h1 {  font-family: 'Roboto'; font-size:21px; color: #1E88E5;}
p.description {  font-family: 'Roboto'; font-size: 16px;}
p.warranty {font-family: 'Roboto';font-size: 15px;padding: 3px 10px 3px 70px;line-height: 1.2;margin: 0 auto; }
a.logotype {margin: 46px auto 0px; text-align: center;text-transform: uppercase;}
.clearfix {content: "";display: table;clear: both;width: 100%;}


p.warranty1 {

	font-family: 'Roboto';
	font-size: 15px;
	padding: 5px 10px 5px 70px;
	line-height: 1.2;
}

p.warranty1 a {color: #7ab5e3;}

.list-works {margin: 0 auto; width: 833px;height: 420px;}
.additional-column {float: left;}

p.about {

	font-family: 'Roboto';
	font-size: 15px;
	max-width: 728px;
	margin: 0px auto;
	padding: 10px;
	line-height: 1.8;
}

.info-area {
    margin-top: 30px;
}

h2.who {
	padding-bottom: 33px!important;

}
p.thing {
    font-family: 'Roboto';
    font-size: 15px;
    margin: 0 auto;
    /*max-width: 684px;*/
    padding: 5px 10px 5px 60px;
    line-height: 1.4;
}

.thing-1 {    font-family: 'Roboto';
    font-size: 15px;
    margin: 0 auto;
    max-width: 980px;
    line-height: 1.4;}

h1.search-name {color: black;font-weight: bold;font-size: 18px;}
h2.prices {text-align: center!important;margin-top: 30px;font-size: 30px!important;color: black;font-family: 'Roboto';font-weight: 400!important}
input.search {float: left;height: 27px;width: 100%;}
input.subject {margin-left: 124px;float: left;}
input.button-search {position: relative; width: 120px;padding:0px;background-color: #7ab5e3!important;float: left; color: white; border: none;cursor: pointer;height: 30px;border-radius: 7px;box-shadow: 0px 5px 10px -5px rgba(50, 50, 50, 0.5);top: 23px;}
.thing-block {margin-bottom: 30px;}
.forms {height:174px;width: 379px;float: left;margin-top: 50px;padding-left: 20px; border-right: 1px solid #dddddd;}
.forms-1 {height:180px;width: 50%;padding-left: 20px; padding-right: 20px; float: left;box-sizing:border-box;}
.forms-search {height:225px;width: 50%;padding-left:20px; padding-right: 20px; border-right: 5px solid #7ab5e3;margin-top: 25px;float: left;margin-bottom: 25px; box-sizing:border-box;}

input[type="file"] {
    border-bottom: none;
    position: relative;
    top: -28px;

}

table.price {
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 5px 10px -5px rgba(50, 50, 50, 0.5);

}

.block-button {
    width: 250px;
    margin: 0 auto;
    margin-top: 20px;
}

button.find-cost {
    height: 50px;
    background-color: white;
    border: 1px solid #EEE;
    cursor: pointer;
    width: 250px;
    font-size: 18px;
    color: #7ab5e3;
    box-shadow: 0px 5px 10px -5px rgba(50, 50, 50, 0.5);
}

button.find-cost:hover {
	background: #7ab5e3;
	transition-duration:0.5s;
	color: white;
  border: none;
}

.picture {
  height: 150px;
  width: 150px;
  float: left;
  background: url(../image/papka.png)no-repeat;
  background-size: cover;

}

.picture-1 {
  height: 150px;
  width: 150px;
float: right;
background: #7ab5e3;
background: url(../image/document.jpg)no-repeat;
  background-size: cover;
}

.picture-2 {
  height: 150px;
  width: 150px;
float: left;
background: #7ab5e3;
background: url(../image/ref.jpg)no-repeat;
  background-size: cover;
}

.picture-3 {
  height: 270px;
  width: 470px;
float: left;
background: url(../image/teacher.jpg)no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.picture-4 {
  height: 270px;
  width: 470px;
float: left;
background: url(../image/man1.jpg)no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.help, .help-1 {height: 150px;}

.help p {
  float: right;
  font-family: 'Roboto';
  width: 310px;
    float: left;
    margin-left: 30px;
    margin-top: 36px;
}

.help-1 p {
  float: right;
  font-family: 'Roboto';
  width: 310px;
  margin-left: 30px;
  margin-top: 36px;
}

.types-works {
  width: 788px;
  margin: 0 auto;
    border-bottom: 1px solid #EEE;
    padding-bottom: 20px;
}
.sales {
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.description {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    border-bottom: 1px solid #eee;}

.success-1 {
    width: 980px;
    margin: 0 auto;
    height: 640px;
    margin-top: 20px;
    border-bottom: 1px solid #eee;
}

.column-1 {
    width: 470px;
    height: 600px;
    float: left;
}

.column-1 p {
  font-family: 'Roboto';
}

.alignment {/*position: absolute;padding-left: 97px;*/
    margin: 0 auto;
    width: 100%;
    float: none;
    height: auto;
    padding: 5px;
    box-sizing:border-box;
}
ul.list li {
	float: left;
	margin-left: 60px;
	width: auto;
}

ul.list {
    margin: 0 auto;
    max-width: 980px;
    height: 93px;
}

ul.list img {

margin-top: 10px;
}

/*a.indent {
    margin-left: 45px;
}*/

ul.list li a {
	font-family: 'Roboto';
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: black;
}

ul.list li p {
	font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.question-1 p {font-family: 'Roboto';}

.question-1 {

	max-width: 980px;
	margin: 0px auto;
	padding-bottom: 50px;
}

.forma-work {
    margin: 0 auto;
    max-width: 1218px;
    margin-top: 50px;
    height: 200px;
}

#map {
    height: 500px;

}

#about {
    margin: 0 auto;
    max-width: 980px;
}

p.address {
	font-family: 'Roboto';
    color: #000;
    max-width: 980px;
    padding: 10px;
    line-height: 1.8;
    margin: 0 auto;
    
}

.zero {
	height: 50px;
	width: 100%;
}

.block-question {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 30px;
   /*border-bottom: 1px solid #EEE;*/
    padding-bottom: 20px;
    margin-bottom: 25px;
}

li.block-question {

    width: 565px;
    margin-top: 30px;
    margin: 0px;
    float: left;
    padding-top: 23px;
    margin-right: 10px;
}

/*li.block-question:nth-child(even) {

	margin-right: 0px;
}*/

ul.garantii {
    max-width: 1187px;
    margin: 0 auto;
    height: auto;
    margin-top: 25px;
}

ul.garantii div {

	float: left;
	border-bottom: 1px solid #EEE;
}

ul.payment {
    max-width: 1187px;
    margin: 0 auto;
    height: 450px;
    margin-top: 20px;
    padding-left: 10px;
}

ul.payment div {

	float: left;
	border-bottom: 1px solid #eee;
}

p.tick {
    float: left;
    font-size: 32px!important;
    color: #7ab5e3!important;
    margin-right: 20px;
}

.block-question1 {

    height: auto;
    max-width: 980px;
    margin: 0 auto;
    border-bottom: 1px solid #EEE;
}

.block-question img {
	float: left;
	margin-right: 10px;
	width: 70px;
  margin-bottom: 7px;
}



.block-question1 img {
	float: left;
	margin-left: 55px;
	width: 70px;
}

.number {
    float: left;
   
    text-align: center;
    }

    .number p {
    margin-top: 8px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto';
}

p.thing-1.conditions-work {
    font-size: 19px;
    font-weight: bold;
    margin-top: 20px;
    color: #7ab5e3;
    text-align: center;
    margin-bottom: 20px;
}

.center {
    margin: 0 auto;
    max-width: 980px;
    margin-bottom: 70px;
}
li.list {
	font-family: 'Roboto';
    font-size: 15px;
    max-width: 692px;
    margin: 0px auto;
    padding: 10px;
    line-height: 1.5;
    list-style: initial;
}

img.image-about {

	display: block;
	margin: 0px auto;
}

p.about.line {
    line-height: 1;
}

.indent {
	margin-bottom: 20px!important;
}

.indent-1 {
	margin-left: 20px;
}

.indent-1 li {
	margin-left: 20px;
} 
.bold {
	font-weight: bold;
	color: #7ab5e3;
    font-size: 20px!important;
    margin-top: 20px!important;
}

.garantii img {
	float: left;
    margin-left: 0px;
    width: 60px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.payment img {
	float: left;
    margin-left: 0px;
    width: 50px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.advantages-center {
    height: 109px;
    width: 170px;
    margin: 0 auto;
    top: 33px;
    position: relative;
    text-align: center;
}


.advantages-center p {
	padding: 0!important;
	font-family: "Roboto";
	margin-top: 8px;

}

select#exampleInputType-1 option {
	color: black;
}

.color {
	color: black;
}

.uploadButton {
    display: block;
    width: 200px;
    background: white;
    padding: 10px;
    color: black;
    font-family: 'Roboto';
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    height: 15px;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);

}

.successUpld {
font-family: 'Roboto';
width: 118px;
float: right;
position: relative;
right: 231px;
top: -50px;
}

.uploadButton:hover {
    background: #f5f5f5;

}

.uploadButton img {
	position: relative;
	right: -15;
	top: -1px;
}

.uploadButton p {
	padding: 0px!important;
    text-align: initial;
    float: left;
    margin-left: 9px;
    margin-top: 0px!important;
}

.file_upload {
    margin-top: 27px;
    float: right;
    width: 221px;
    height: 98px;
    position: relative;
    
}

.column-1.right {
    margin-right: 20px;
}

a.telephone-contacts {
    text-decoration: none;
    color: #000;
}

.application.wind {
	width: 980px;
	margin: 0 auto;
	margin-top: 80px;
	padding-top: 20px;

}

.docs {
    width: 45px;
    margin: 0 auto;
}

#pay h2 {
	color: black;
}


.message-block_form-results {
    padding-top: 50px;
    text-align: center;
    font-size: 16px;
}


.advantages {
    width: 569px;
    height: 171px;
    border-bottom: 2px solid #dddddd;
    margin: 0 auto;
}

.advantages-1 {
    height: 170px;
    width: 189px;
    float: left;

}

.advantages-2 {
    height: 170px;
    width: 189px;
    float: left;

}

.advantages-3 {
    height: 170px;
    width: 189px;
    float: left;

}


.application1 {
    background-color: #f5f5f5;
    margin-top: 50px;
    border-radius: 5px;
    height: auto;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 5px 10px -5px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 5px 10px -5px rgba(50, 50, 50, 0.5);
    border: 5px solid #7ab5e3;
    max-width: 980px;
    margin: 0 auto;
    margin-top: 50px;
}

.application.message {
	background-color: #f5f5f5;
    border-radius: 5px;
    height: 325px;
    width: 765px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 5px 10px -5px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 5px 10px -5px rgba(50, 50, 50, 0.5);
    margin-top: 50px;
}

.application.message form {
	margin-top: 0px;
	margin-right: 0px;
	float: none;
	margin: 0 auto;
}

ul.additional-work {
	max-width: 900px;
	margin: 0 auto;
	margin-top: 50px;
	height: 215px;
	width: 250px;
}


.additional-work li {
	padding: 10px;
	width: 220px;
	display: inline-table;
	margin-left: 59px;
  color: #7ab5e3;
  font-size: 30px;

}

.additional-work img {
	width: 70px;
}

table.table-bordered {
    margin-top: 20px;
    max-width: 980px;
    margin: 0 auto;
}

h2.services {
    padding-bottom: 50px!important;
}


.additional-work li a {

font-family: 'Roboto';
    font-size: 15px;
    color: #000;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.5;
        font-weight: bold;
}

.additional-work li a:hover {
	color: #7ab5e3;
}

.forms form, .forms-1 form {
	width: 100%;
}
.colortext {color: #7ab5e3;font-size: 27px;font-weight: bold;}
p.finish-works {text-transform: uppercase;font-family: 'Roboto'; font-size: 21px;text-align: center;margin-top: 20px;}
p.bol {font-family: 'Roboto';font-weight: bold; font-size: 20px; line-height: 1;
padding: 0px 10px 5px 70px;}
p.bol1 {font-family: 'Roboto';font-weight: bold; font-size: 19px; line-height: 1;padding: 5px 10px 5px 60px;max-width: 684px;}
p.thing a {color: black;}
p.thing-1 span {color: #7ab5e3;font-weight: bold;font-size: 18px;letter-spacing: 1px;}
.fotorama img {

}
select#exampleInputType-1 {float: left!important;
  border: none;
  width: 100%;
  border-bottom: 2px solid #dddddd;
  background-color: initial !important;
  font-family: 'Roboto';
  font-size: 14px;
  height: 31px;
  color: #a9a9a9;
}

/*.fotorama__caption {
    margin: 0 auto;
    float: none;
    width: 450px;
}

.fotorama__caption__wrap {
	background-color: none!important;
	background-color: none!important;
	font-size: 30px;
	margin-bottom: 50%;

}*/

#navigation {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	margin-top: 50px;
}

#middle-nav {
	display: none;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
.content {height: auto;}

#navigation li {

	display: block;
	height: 50px;
	margin-top: 20px;
}

#middle-nav li {
	display: none;
}

#navigation li:last-child {
	margin-bottom: 20px;
}

#navigation li:hover {
	background-color: #f4f4f4;
}

#navigation a {
	text-decoration: none;
	cursor: pointer;
	color: #000;
	font-family: 'Roboto';
	font-size: 16px;
	display: block;
	padding: 17px 0px 17px 56px;
  position: relative;
}

.active {
	background-color: #e0e0e0;
	font-weight: bold;
}

.active:after {
	content: '';
	width: 10px;
	height: 10px;
	background-image: url('../image/marker.png');
	background-repeat: no-repeat;
	float: right;
	position: relative;
	top: 3px;
	right: 15px;
}



#navigation a[data-id="1"]:before {
	content: '';
	width: 20px;
	height: 22px;
	background-image: url('../image/who.svg');
	background-repeat: no-repeat;
	background-size: 45%;
	position: absolute;
	float: left;
	top: 12px;
	left: 15px;
	padding-right: 25px;
}

#navigation a[data-id="2"]:before {
	content: '';
	width: 20px;
	height: 22px;
	background-image: url('../image/type-job.svg');
	background-repeat: no-repeat;
	background-size: 60%;
	position: absolute;
	float: left;
	top: 12px;
  left: 15px;
	padding-right: 25px;
}

#navigation a[data-id="3"]:before {
	content: '';
	width: 20px;
	height: 28px;
	background-image: url('../image/service.svg');
	background-repeat: no-repeat;
	background-size: 50%;
	position: absolute;
	float: left;
	top: 12px;
  left: 15px;
	padding-right: 25px;
}

#navigation a[data-id="4"]:before {
	content: '';
	width: 20px;
	height: 28px;
	background-image: url('../image/condition.svg');
	background-repeat: no-repeat;
	background-size: 50%;
	position: absolute;
	float: left;
	top: 12px;
  left: 15px;
	padding-right: 25px;
}

#navigation a[data-id="6"]:before {
	content: '';
	width: 29px;
	height: 25px;
	background-image: url('../image/done_works.svg');
	background-repeat: no-repeat;
	background-size: 50%;
	position: absolute;
	float: left;
	top: 12px;
  left: 13px;
	padding-right: 25px;
}

#navigation a[data-id="7"]:before {
	content: '';
	width: 20px;
	height: 25px;
	background-image: url('../image/garant.svg');
	background-repeat: no-repeat;
	background-size: 50%;
	position: absolute;
	float: left;
	top: 12px;
  left: 15px;
	padding-right: 25px;
}

#navigation a[data-id="8"]:before {
	content: '';
	width: 28px;
	height: 25px;
	background-image: url('../image/faq.svg');
	background-repeat: no-repeat;
	background-size: 50%;
	float: left;
	top: 15px;
  left: 13px;
	padding-right: 25px;
  position: absolute;
}

#navigation a[data-id="5"]:before {
	content: '';
	width: 20px;
	height: 25px;
	background-image: url('../image/contact.svg');
	background-repeat: no-repeat;
	background-size: 50%;
	position: absolute;
	float: left;
	top: 12px;
  left: 15px;
	padding-right: 25px;
}





#middle-nav a[data-id="1"]:before {
  content: '';
  width: 15px;
  height: 22px;
  background-image: url('../image/who.svg');
  background-repeat: no-repeat;
  background-size: 45%;
  float: left;
  top: 8px;
  left: 12px;
  padding-right: 25px;
  position: absolute;
}

#middle-nav a[data-id="2"]:before {
  content: '';
  width: 13px;
  height: 22px;
  background-image: url('../image/type-job.svg');
  background-repeat: no-repeat;
  background-size: 60%;
  float: left;
  top: 12px;
  left: 15px;
  padding-right: 25px;
  position: absolute;
}

#middle-nav a[data-id="3"]:before {
  content: '';
  width: 15px;
  height: 28px;
  background-image: url('../image/service.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  float: left;
  top: 5px;
  left: 11px;
  padding-right: 25px;
  position: absolute;
}

#middle-nav a[data-id="4"]:before {
  content: '';
  width: 13px;
  height: 28px;
  background-image: url('../image/condition.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  float: left;
  top: 7px;
  left: 12px;
  padding-right: 25px;
  position: absolute;
}

#middle-nav a[data-id="6"]:before {
  content: '';
  width: 21px;
  height: 25px;
  background-image: url('../image/done_works.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  float: left;
  top: 9px;
  left: 10px;
  padding-right: 25px;
  position: absolute;
}

#middle-nav a[data-id="7"]:before {
  content: '';
  width: 16px;
  height: 25px;
  background-image: url('../image/garant.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  float: left;
  top: 7px;
  left: 11px;
  padding-right: 25px;
  position: absolute;
}

#middle-nav a[data-id="8"]:before {
  content: '';
  width: 19px;
  height: 25px;
  background-image: url('../image/faq.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  float: left;
  top: 10px;
  left: 11px;
  padding-right: 25px;
  position: absolute;
}

#middle-nav a[data-id="5"]:before {
  content: '';
  width: 13px;
  height: 25px;
  background-image: url('../image/contact.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  float: left;
  top: 8px;
  left: 12px;
  padding-right: 25px;
  position: absolute;
}


h2.who:before{
  content: '';
  width: 20px;
  height: 22px;
  background-image: url('../image/who.svg');
  background-repeat: no-repeat;
  background-size: 45%;
  position: relative;
  float: left;
  top: 0px;
  left: 85px;
  padding-right: 25px;

}

h2.services:before{
  content: '';
  width: 20px;
  height: 25px;
  background-image: url('../image/service.svg');
  background-repeat: no-repeat;
  background-size: 45%;
  position: relative;
  float: left;
  top: -1px;
  left: 117px;
  padding-right: 25px;

}

h2.garant:before{
  content: '';
  width: 20px;
  height: 25px;
  background-image: url('../image/garant.svg');
  background-repeat: no-repeat;
  background-size: 45%;
  position: relative;
  float: left;
  top: 0px;
  left:123px;
  padding-right: 28px;

}

h2.conditions:before{
  content: '';
  width: 20px;
  height: 25px;
  background-image: url('../image/condition.svg');
  background-repeat: no-repeat;
  background-size: 45%;
  position: relative;
  float: left;
  top: -1px;
  left: 60px;
  padding-right: 25px;

}

h2.faq:before{
  content: '';
  width: 30px;
  height: 25px;
  background-image: url('../image/faq.svg');
  background-repeat: no-repeat;
  background-size: 45%;
  position: relative;
  float: left;
  top: 2px;
  left: 52px;
  padding-right: 25px;

}

h2.finished:before{
  content: '';
  width: 40px;
  height: 25px;
  background-image: url('../image/done_works.svg');
  background-repeat: no-repeat;
  background-size: 45%;
  position: relative;
  float: left;
  top: 0px;
  left: 30px;
  padding-right: 25px;
}

h2.contact:before{
  content: '';
  width: 20px;
  height: 25px;
  background-image: url('../image/contact.svg');
  background-repeat: no-repeat;
  background-size: 45%;
  position: relative;
  float: left;
  top: 3px;
  left: 95px;
  padding-right: 25px;

}

h2.cooperat:before{
  content: '';
  width: 40px;
  height: 25px;
  background-image: url('../image/done_works.svg');
  background-repeat: no-repeat;
  background-size: 45%;
  position: relative;
  float: left;
  top: 0px;
  left: 30px;
  padding-right: 25px;
}

li#callback p {
		height: 20px;
		position: relative;
		top: -38px;
	}

.social-block {
	position: absolute;
	left: 20px;
	bottom: 0;
	padding-bottom: 15px;
	width: 100%;
	height: 100px;
}

.social-block p {
	text-align: center;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 300;
	position: absolute;
	top: 30px;
	left: 11px;
}

.social {
	position: absolute;
	bottom: 10px;
  margin-left: 9px;
}

.social a {
	display: inline-block;
	margin-right: 37px;
}

.social a:last-child {
	margin-right: 0px;
}

.vkontakte {
	width: 32px;
	height: 31px;
	background-image: url('../image/vk.png');
	background-repeat: no-repeat;
	padding: 0;
	border-radius: 50%;
	transition-duration: .3s;
}

.facebook {
	width: 32px;
	height: 31px;
	background-image: url('../image/fb.png');
	background-repeat: no-repeat;
	padding: 0;
	border-radius: 50%;
	transition-duration: .3s;
}

.twitter {
	width: 32px;
	height: 31px;
	background-image: url('../image/twitter.png');
	background-repeat: no-repeat;
	padding: 0;
	border-radius: 50%;
	transition-duration: .3s;
}

.inst {
	width: 32px;
	height: 31px;
	background-image: url('../image/instik.png');
	background-repeat: no-repeat;
	padding: 0;
	border-radius: 50%;
	transition-duration: .3s;
}

.ok {
	width: 32px;
	height: 31px;
	background-image: url('../image/ok.png');
	background-repeat: no-repeat;
	padding: 0;
	border-radius: 50%;
	transition-duration: .3s;
}

.vkontakte:hover, .facebook:hover, 
.twitter:hover, .inst:hover,
.ok:hover {
	box-shadow: 0px 4px 6px -2px rgba(50, 50, 50, 0.75);
	margin-bottom: 3px;
	transition-duration: .3s;
}

header {
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0;
	z-index: 9000;
	background-color: #fff;
	margin-left: 250px;
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
}

.application.message h2 {
margin: 0 auto!important;
width: 140px!important
}

.call {
	float: right;
	position: absolute;
	right: 250px;
}

.call li {
	display: inline-block;
	float: right;
	padding: 0px 30px;
}

.call li:before {
	content: '';
	width: 1px;
	height: 60px;
	background-image: url('../image/reprieve.png');
	position: relative;
	float: left;
	top: 0px;
	left: -30px;
}

.call a, .call span {
	text-decoration: none;
	color: #000;
	margin-top: 22px;
	display: block;
	width: 140px;
	font-family: 'Roboto';
	font-size: 15px;
}

.call a:before, .call span:before {
	content: '';
	width: 10px;
	height: 30px;
	background-image: url('../image/phone.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	float: left;
	top: -6px;
	right: 5px;
}

#callback {
	font-family: 'Roboto';
	font-size: 16px;
	cursor: pointer;
	background-color: #7ab5e3;
    color: white;
    padding-top: 1px;
    float: right;
}

#callback:before {
	content: '';
	width: 1px;
	height: 60px;
	background-image: url('../image/reprieve.png');
	position: relative;
	float: left;
	top: 0px;
	left: -30px;
}

/*мадальное окно*/
.modal-window, .message-screen {
	background: rgba(0, 0, 0, 0.5);
	display: none;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 9999;
}

.window-container, .message-window {
	display: block;
	margin: 0% auto 0;
	z-index: 9999;
	opacity: 0;
	border-radius: 0px;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.window-container h2, .message-window h2 {
	text-align: center;
	font-family: 'Roboto';
	font-size: 16px;
	color: #000;
}

.no-results {
	font-family: 'Roboto';
  width: 980px;
  margin: 0 auto;
	font-size: 14px;
  height: 40px;
  margin-top: 50px;
  text-align: center;
}
.ready-works-table {


}
.handyWorks-tags {
    color: #888;
}
.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 20px;
  box-sizing:border-box;
}
.handyWorks-breadcrumbs-list {margin: 0; padding: 0; display: block; margin: 24px 0px;}
.handyWorks-breadcrumbs-listitem {margin: 0; list-style: none; display: inline-block;}
.handyWorks-breadcrumbs-listitem a {color: #CCC; text-decoration: underline;}
.handyWorks-breadcrumbs-listitem {color: #CCC;}
.handyWorks-pagetitle {
    font-size: 28px;
    line-height: 1.5em;
    display: block;
    max-width: 600px;
    margin: 24px 0;
}
.handyWorks-description {
  margin: 24px 0;
}
.handyWorks-label {font-weight: bold;}
.handyWorks-form-wrapper {
    width: 100%;
    background: #EEE;
    padding: 20px;
    margin: 24px 0;
}
.handyWorks-form {
    margin: 24px 0;
    width: 100%;
}

.handyWorks-form input, .handyWorks-form textarea {
    width: 50%;
    float: none;
    padding: 10px 20px;
    margin: 5px 0px;
}


.search-result-name {
  text-align: left;
}
.search-result-type {
  text-align: left;
  font-size: 16px;
  color: #999;
}
.modal-phone {
	margin-top: 50px;
	height: 25px;
	width: 100%;
}

.modal-phone span {
	display: block;
	float: left;
	font-family: 'Roboto';
	font-size: 12px;
	color: #9c9c9c;
	margin-top: 7px;
}

.modal-phone #phoneNumber {
	float: right;
	background-color: #fff !important;
	text-align: left;
	width: 320px;
}

.animation {
	-webkit-transform:  scale(0.5);
	-moz-transform:  scale(0.5);
	-ms-transform:  scale(0.5);
	transform:  scale(0.5);
}

.visible {
	opacity: 1;
	-webkit-transform:  scale(1);
	-moz-transform:  scale(1);
	-ms-transform:  scale(1);
	transform:  scale(1);
}

.close {
	display: block;
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	top: -65px;
	right: -65px;
  float: right;
  position: relative;
}

.close:before {
	content: '';
	width: 20px;
	height: 20px;
	border-top: 1px solid white;
	-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
	/*background-image: url('../image/close.png');*/
	background-repeat: no-repeat;
	position: absolute;
	top: 13px;
	right: 31px;
}

.close:after {
	content: '';
	width: 20px;
	height: 20px;
	border-right: 1px solid white;
	-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
	/*background-image: url('../image/close.png');*/
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: 31px;
}

.retain	{
	float: right;
	font-family: 'Roboto';
	font-size: 14px;
	color: #fff;
	border: none;
	background-color: #00a9e5;
	padding: 5px 15px;
	border-radius: 4px;
	margin-top: 15px;
	cursor: pointer;
	-webkit-box-shadow: -1px 6px 10px -4px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: -1px 6px 10px -4px rgba(50, 50, 50, 0.75);
	box-shadow: -1px 6px 10px -4px rgba(50, 50, 50, 0.75);
}

/*конец модального окна*/
.main {
	width: 100%;
	height: 100%;
	padding-left: 250px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

#start-page {
	/*background-image: url('../image/students.jpg');*/
	background-size: cover;
	width: 100%;
	/*min-width: 980px;*/

}

.fotorama__nav-wrap {
    background: white;
}


.button-buy {
    margin: 0 auto;
    width: 200px;
    height: 30px;
    position: relative;
}

input.buy {
	width: 190px;
	height: 35px;
	background-color: #1E88E5!important;
	border-bottom: none;
	color: white;
	cursor: pointer;
	margin-top: 20px;

}

.inside {
	width: 100%;
	background: rgba(0, 0, 0, .5);
	/*display: table;
	position: absolute;*/
}

.title {
	width: 100%;
	margin: 0px auto;
	display: table-cell;
	vertical-align: middle;
}

.inside h1, h2 {
	color: #fff;
	font-family: 'Roboto';
	font-size: 30px;
	text-align: center;
	padding: 5px 0px;
}

.request {
	display: block;
	margin: 25px auto 0px;
	cursor: pointer;
	color: #fff;
	background-color: #64b5f6;
	border: 1px solid transparent;
	padding: 15px 30px 15px 20px;
	border-radius: 4px;
	font-family: 'Roboto';
	font-size: 25px;
	font-weight: 300;
}

.request:after {
	content: '';
	background-image: url('../image/direction.png');
	background-repeat: no-repeat;
	width: 26px;
	height: 20px;
	position: relative;
	float: right;
	top: 11px;
	left: 10px;
}

#scroll-type {
	width: 110px;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -55px;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
	cursor: pointer;
	padding-bottom: 15px;
}

#scroll-type:after {
	content: '';
	width: 26px;
	height: 20px;
	background-image: url('../image/direction.png');
	background-repeat: no-repeat;
	width: 26px;
	height: 20px;
	float: right;
	position: relative;
	top: 10px; 
	left: -45px;
	animation-name: floating;
    -webkit-animation-name: floating;
     animation-duration: .7s;   
    -webkit-animation-duration: .7s;
     animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0%);  
    }
    50% {
        transform: translateY(15%);  
    }   
    100% {
        transform: translateY(0%);
    }           
}
 
@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);  
    }
    50% {
        -webkit-transform: translateY(15%);  
    }   
    100% {
        -webkit-transform: translateY(0%);
    }           
}

#types-jobs {
	width: 100%;
	/*height: 100%;*/
}

.content {
	height: auto;
	padding-bottom: 50px;
}

.content p {
	font-family: 'Roboto';
	font-size: 16px;
	padding: 50px 0px 0px;
	/*line-height: 1.8em;*/
	line-height: 1em;
	margin-top: 10px;
}

.content h2 {
	font-family: 'Roboto';
	font-size: 18px;
	color: #000;
	font-weight: 500;
	text-align: left;
	padding:15px 0px 0px 0px;
}

.content a {
	color: #61b4f5;
	font-family: 'Roboto';
	font-size: 14px;
}

.content ul {
	padding: 20px 30px 0px;
}

.content li {
	display: inline-block;
	width: 200px;
	margin-bottom: 10px;
}

.application {
	background-color: #f5f5f5;
	margin-top: 50px;
	border-radius: 5px;
	height: 800px;
	padding-top: 15px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 5px 10px -5px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 5px 10px -5px rgba(50, 50, 50, 0.5);
}

.application h2 {
    font-family: 'Roboto' !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    padding-left: 20px !important;
    color: #000;
    width: inherit;
    text-align: center;
    font-style: normal !important;
    padding-bottom: 15px;

}

.cooperation {
  background-color: #f5f5f5;
  margin-top: 50px;
  border-radius: 5px;
  height: 475px;
  padding-top: 15px;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 5px 10px -5px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 5px 10px -5px rgba(50, 50, 50, 0.5);
}

input#name-theme {
	width: 320px;

}

input#number-pages {
	width: 150px;
	position: relative;

}

input.term-1 {
	width: 171px;
    margin-left: 249px;
	float: left;
}

input.term-2 {
	width: 150px;
	position: relative;
	right: 0;
	top: -16px;
	margin-right: 20px;
}

input.setting {
	top: -24px;
	margin-right: 170px;
}


.null-line select {
	float: right;
	border: none;
	width: 320px;
	border-bottom: 2px solid #dddddd;
	background-color: initial !important;
	font-family: 'Roboto';
    font-size: 15px;
    color: black;
}
.first-line {
	padding: 0px 20px;
	margin-top: 15px;
	height: 30px;
}

form {
	width: 568px;
	margin: 0px auto;
	margin-top: 55px;

}

.forms-search form {
	width: 100%;
  float: left;
  margin-top: 29px;
}

input, .like-input {
	float: right;
    border: none;
    border-bottom: 2px solid #dddddd;
    background-color: #f5f5f5!important;
    width: 320px;
    font-family: 'Roboto';
    font-size: 16px;
}

textarea {
	border:1px solid #000;
	float: right;
}

.null-line {
    margin-top: 15px;
    height: 30px;
    position: relative;
    clear: both;
}

.null-line span {
	font-family: 'Roboto';
    font-size: 19px;
    color: black;
    border-bottom: none !important;
    cursor: inherit !important;
    float: left;
}

.null-line select {
    float: right;
    border: none;
    width: 320px;
    border-bottom: 2px solid #dddddd;
    background-color: initial !important;
    font-family: 'Roboto';
    font-size: 16px;
}
#inputMsg {

    float: right;
    border: none;
    border-bottom: 2px solid #dddddd;
    background-color: initial;
    width: 320px;
    font-family: 'Roboto';
    font-size: 16px;
    height: 30px;
}

#sendMsg {

    float: right;
    border: none;
    border-bottom: 2px solid #dddddd;
    background-color: initial;
    width: 320px;
    font-family: 'Roboto';
    font-size: 16px;
    height: 30px;
    margin-bottom: 20px;
}

.error {

	border-bottom: 2px solid #fd0315 !important;
}

/*.success {

	border-bottom: 2px solid #0396fd !important;
}*/

input::-webkit-input-placeholder { color: #a9a9a9; }
input::-webkit-input-placeholder { color: #a9a9a9; }
textarea::-webkit-input-placeholder { color: #a9a9a9; }

placeholder {
	color: white;
}
.application h3 {

	padding-left: 30px;
	font-family: 'Roboto';
	font-size: 15px;
	color: #000;
	margin: 30px 0px;
}

.application span {

	cursor: pointer;
	border-bottom: 1px solid;
}

#phoneNumber {

	float: right;
    border: none;
    border-bottom: 2px solid #dddddd;
    background-color: initial;
    width: 320px;
    font-family: 'Roboto';
    font-size: 16px;
}

.notValid {

    border-bottom: 2px solid #dd3d14 !important;
}

.error {

	/*height: 20px;
	font-family: 'Roboto';
	font-size: 12px;
	float: right;
	clear: right;
	margin-right: 3px;
	margin-top: 2px;*/
}

.warning-window {

	background: rgba(0, 0, 0, 0.5);
	display: none;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 9999;
}

.warning {

	width: 400px;
	height: 150px;
	display: none;
	font-family: 'Roboto';
    font-size: 19px;
    color: black;
    text-align: center;
}

.warning.act {

	display: block;
	margin: 0px auto;
	position: fixed;
	z-index: 9;
	background-color: #fff;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 4px;
}

.exit-warning {

	background-image: url('../image/close.png');
	background-size: 100%;
	width: 10px;
	height: 10px;
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 5px;
}

.valid {

    border-bottom: 2px solid #2899f2 !important;
}

input:focus {

	box-shadow: none;
	-webkit-box-shadow: none;
	outline: none;
}

input:active {

	box-shadow: none;
	-webkit-box-shadow: none;
	outline: none;
}

button:active, button:focus, select:active, select:focus {

	outline: none;
}

.cost, .btn, .handyWorks-submit {

	color: #fff;
	background-color: #00ac00 !important;
	border: none;
	width: 160px;
	cursor: pointer;
	padding: 10px;
	border-radius: 4px;
	font-family: 'Roboto';
	font-size: 15px;
	font-weight: 300;
	float: right;
	clear: right;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
    margin-left: 47px;
}
.handyWorks-submit {text-align: center; margin: 24px 0;
float: none; display: block;}
.cost-faq {
	color: #fff;
	background-color: #00ac00 !important;
	border: none;
	width: 150px;
	cursor: pointer;
	padding: 10px;
	border-radius: 4px;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 300;
	float: right;
	margin-right: 30px;
	clear: right;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75);
	margin-top: 10px;
    margin-left: 47px;
}

.cost:active, .cost-faq:active, .retain:active {

	-webkit-box-shadow: inherit;
	-moz-box-shadow: inherit;
	box-shadow: inherit;
}



.add-file {

	background-color: initial;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-family: 'Roboto';
	font-size: 14px;
	float: right;
	margin-right: 5px;
}

.add-file:before {

	content: '';
	width: 20px;
	height: 10px;
	background-image: url('../image/clip.png');
	background-repeat: no-repeat;
	position: relative;
	float: left;
	top: 4px;
	left: 0px;
	padding-right: 15px;
}

#answer-question {

	/*height: 100%;*/
	position: relative;
}

.footer-head {

	/*min-width: 980px;*/
	height: 190px;
	background-image: url('../image/footer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.inside-footer-head {

	background-color: rgba(0, 0, 0, .5);
	width: 100%;
	height: 190px;
}

.inside-footer-head h2 {

	text-align: center;
	color: #fff;
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 30px;
	padding-top: 45px;
}

.inside-footer-head p {

	color: #fff;
	text-align: center;
	font-family: 'Roboto';
	font-size: 14px;
	margin-top: 35px;
}

.conditions {

	max-width: 980px;
	padding-bottom: 145px;
	margin: 0 auto;

}

.conditions p {

	color: #000;
	font-family: 'Roboto';
	font-size: 16px;
	padding: 30px 0px 0px 100px;
	line-height: 1.5em;
} 

.conditions span {

	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 500;
	color: #000;
}

.question {

	padding:35px 0px 0px 100px;
	cursor: pointer;
}


.question p {

	font-family: "Roboto";
	font-weight: 400;
	font-size: 16px;
	color: #000;
	padding: 0;
	font-weight: bold;

}

p.question-1 {

	font-family: Georgia!important;
	font-weight: 400!important;
	font-style: italic;
	font-size: 25px!important;
	padding: 0;
	font-weight: bold!important;
	padding: 35px 0px 35px!important;
}
.answer {

	padding: 20px 100px 0px;
	display: none;
}

.answer.active {

	display: block;
}

.answer p {

	color: #000;
	font-size: 15px;
	font-family: 'Roboto';
	padding: 0;
}

.answer span {

	font-family: 'Roboto';
	font-size: 17px;
	font-weight: bold;
}

.answer li {

	
	color: #000;
    font-size: 15px;
    font-family: 'Roboto';
    padding: 0;
}

.footer-down {

	width: 100%;
	height: 90px;
	display: table;
	background-color: #eeeeee;
}

.footer-down p {

	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-family: 'Roboto';
	font-size: 14px;
}

#toggle {

	display: none;
}

#textContainer {

	padding-top: 60px;
}

#pageText {

	line-height: 1.5em;

}

/*#pageText .block-question {

	border-bottom: 1px solid #eee;
}*/

h2.conditions {
	padding-bottom: 40px!important;
}

#pageText h2 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 25px;
  color: #000;
  padding: 0;
  font-weight: bold;

	padding-top: 33px;
	padding-bottom: 23px;
	width: 350px;
	margin: 0 auto;
}

.question-1 h2 {

	text-align: center;
	font-family: 'Roboto';
	font-size: 16px;
}

.revision {

	padding-left: 100px;
	padding-bottom: 100px;
}

.revision a {

	color: #000;
	font-family: 'Roboto';
}

.revision li, .revision p {

	color: #000;
    font-size: 14px;
    font-family: 'Roboto';
    padding: 0;
}

.revision li>span {

	text-transform: uppercase;
}

.list-service {

	max-width: 715px;
	margin: 0px auto;
}

.list-service li {

	display: inline-block;
	width: 120px;
	padding: 0px 6px 30px;
	margin-right: 155px;
	text-align: center;
	cursor: pointer;
	transition: linear all 0.2s;
	-webkit-transition: linear all 0.2s;
}

.list-service li:nth-child(3n){

	margin-right: 0px;
}

.list-service img {
	position: relative;
	display: block;
	margin: 0px auto 20px;
	transition: linear all 0.2s;
	-webkit-transition: linear all 0.2s;
	top:0;
	border-radius: 55px;

}
.list-service img:hover {
	top: -10px;
	box-shadow: 0px 11px 30px -4px rgba(50, 50, 50, 0.50);

}


.view-service {

	font-family: 'Roboto';
	font-size: 15px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	text-align: center;
	display: block;
	line-height: 1;
	margin: 0px 5px 15px;
}

.price-service {

	font-family: 'Roboto';
	font-size: 14px;
	text-align: center;
}

#footer-down {


	bottom: 0;
	width: 100%;
}

@media (min-width: 1024px) and (max-width: 1300px) {
/*.application.wind {margin-top: 0px;padding-top: 0px;height: 650px;}
.advantages {height: 116px;}
.advantages-center {top: 0px;}
form {margin-top: 50px;}
.null-line {margin-top: 7px;}
.info-area {margin-top: 0px;}
.application {height: 670px;}
.null-line span {font-size: 17px;}*/



}


@media (min-width: 1024px) and (max-width: 1418px) {
ul.garantii div, ul.payment div {border-bottom: none;}
li.block-question {width: 44%!important;margin-left: 46px;}
.file_upload {margin-top: 25px;}

}

@media (min-width: 1269px) and (max-width: 1418px){
li.block-question {width: 580px;margin-left: 46px;}


}

@media (min-width: 768px) and (max-width: 1269px){
li.block-question {width: 39%!important;margin-left: 46px;}

}

@media (min-width: 768px) and (max-width: 1024px) {

.alignment, .application1 {height: auto;}
table.table-bordered {max-width: 700px;margin: 0 auto;}

	li.block-question {
    width: 50%!important;}

	header {

		position: inherit;
		margin-left: 0px;
		clear: both;
		position: absolute;
		z-index: 1;
	}
	
	aside {

		position: inherit;
		min-width: 100%;
		height: 65px;
		float: none;
		border-bottom: 1px solid #dddddd;
		border-right: none;
	}

	aside img {

		margin: 24px 0px 0px 15px;
		float: left;

	}

.column-1.right {
    margin-right: 20px;
}

.column-1 {
  width: 340px;
}

.success-1 {
    width: 700px;
    margin: 0 auto;
    height: 700px;
    margin-top: 20px;
    padding-bottom: 40px;
}

.picture-3, .picture-4{
    width: 100%;
}


	#navigation {

		display: none;
	}

.close {float: right;position: initial;}

.close:before {
	border-top: 1px solid black;
	top: 16px;
	right: 16px;
}

.close:after {
	border-right: 1px solid black;
	top: 2px;
	right: 16px;
}


    .application.wind {height: 760px;width: 100%;}



    .thing-1{
          max-width: 760px;

    }

    p.about.line {
      max-width: 700px;
      line-height: 1.5;
    }


    p.about.bold {
    max-width: 700px;
}

    .list-service {
    	max-width: 715px;
    }


	#middle-nav {

		float: right;
		background-color: #fff;
		position: relative;
		top: 0px;
		/*right: -42px;*/
		padding: 0px 10px;
		border-top: none;
		border-radius: 5px;
		width: 100%;
		box-sizing: border-box;
	}

	ul.additional-work {

		max-width: 615px;
	}

	#middle-nav a {

		color: #000;
		text-decoration: none;
		font-family: 'Roboto';
    	font-size: 16px;
    	padding: 10px 47px 10px;
    	display: block;
      position: relative;
    }

	#middle-nav.active {

		display: block;
		float: right;
	}

	#middle-nav li {

		display: block;
		border-bottom: 1px solid #dddddd;
	}

	#middle-nav li:last-child {

		margin-bottom: 0;
		border-bottom: none;
	}

	.main {

		padding-left: 0px;
	}

	.social-block {

		display: none;
	}

	#toggle {

		display: block;
		width: 32px;
		height: 40px;
		float: right;
		margin: 23px 10px 0px 0px;
		cursor: pointer;
		position: relative;
	}

	.sandwich-toggle {

		width: 100%;
		height: 3px;
		background-color: #3c3c3c;
	}

	.sandwich-toggle:after {

		content: '';
		width: 100%;
		height: 3px;
		background-color: #3c3c3c;
		position: absolute;
		top: 8px;
	}

	.sandwich-toggle:before {

		content: '';
		width: 100%;
		height: 3px;
		background-color: #3c3c3c;
		position: absolute;
		top: 16px;
	}

	.call {

		position: initial;
		float: left;
		right: 0px;
	}

	#types-jobs {

		margin-top: 30px;
	}

	ul.garantii div, 
	ul.payment div {

		border-bottom: none;
	}

	ul.garantii {

		height: auto;
		margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
	}

	li.block-question {

		
		margin: 0px auto;
	
	}

	.block-question {

		max-width: 700px;
	}

	input,select, textarea {

		-webkit-appearance: none;
		box-sizing: border-box;
		border-radius: 0px;
	}

	.application {

		margin: 50px 10px 0px;
	}

	.application1 {

		max-width: 700px;
	}

	.file_upload {

		left: 0px;
	}

	input.term-2 {

		position: absolute;
		top: 0px;
		left: 248px;
	}
}

@media (max-height: 740px) and (max-width: 1300px){
.application.wind {margin-top: 0px;padding-top: 0px;height: 650px;padding-bottom: 20px;}
.advantages {height: 116px;}
.advantages-center {top: 0px;}
.null-line {margin-top: 7px;}
.info-area {margin-top: 0px;}
.application {height: 670px;}
.null-line span {font-size: 17px;}
form {margin-top: 50px;}

}

@media (max-height: 740px) {
#navigation li {height: 49px!important; margin-top: 0px;}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation:portrait) {


	.application1 {

		width: 700px;
	}

	.forms-search {

		width: 340px;
	}

	.forms-1 {

		width: 300px;
		padding-left: 20px;
	}

	.thing-1 {

    max-width: 700px;
	}

	select#exampleInputType-1 {

		box-sizing: border-box;
		width: 100%;
	}

	.forms-1 form {

		width: 300px;
	}

	input.button-search {

		margin-left: 0px;
	}

	.application.wind {

		width: 100%;
	}
}


@media (min-width: 320px) and (max-width: 767px){

  .wrapper, .main {
  height: auto;
  position: initial;
}
/*#modal-window .application h2, #modal-window .application  .null-line span {display: none;}*/
html, body {height: auto;}
ul.payment {height: auto;}
ul.payment div {float: none;
display: block;clear: both;}
li.block-question {float: none; clear: both;}
.application {height: auto; padding: 10px;margin-top: 20px;}
input#number-pages {width: 140px;}
.modal-window, .message-screen {position: absolute;background:none;}

  li.block-question {
    width: 50%!important;}

  header {

    position: inherit;
    margin-left: 0px;
    clear: both;
    z-index: 1;
  }
  
  aside {

    position: inherit;
    min-width: 100%;
    height: 65px;
    float: none;
    border-bottom: 1px solid #dddddd;
    border-right: none;
  }

  aside img {

    margin: 24px 0px 0px 15px;
    float: left;

  }
  .window-container, .message-window {margin: 0; height: 100%;}
  .application form {padding-top: 22px;}

  form {margin:0px;width: 100%;margin-top: 0px!important;}
  input {float: none;font-size: 14px;width: 100%;}
  input#nameSpecialty {margin-top: 10px;margin-bottom: 10px;}
  input.term-2 {left: 150px!important;}
  input.button-search {margin-left: 0px; left: 0px;}
  table.table-bordered {margin-top: 20px;}
  li.block-question {width: 100%!important;}
  h2.services:before {left: 109px;}
  h2.garant:before {left: 110px;}
  p.thing-1.conditions-1 {margin-right: 10px; margin-left: 10px;}
  p.finish-works {font-size: 17px;}
  select#exampleInputType-1 {width: 100%;}
  ul.additional-work {width: 340px;}
  .null-line input {margin: 5px 0;}
  .null-line select {float: none;}
  .null-line br {display: none;}
  .call li{padding: 0px 28px;float: left;}
  .call a {font-size: 13px;width: 120px;}
  .block-question img {width: 50px;}
  .description {padding-left: 10px; padding-right: 10px;}
  .thing-1 {padding: 0px!important;}
  .null-line {width: 100%;margin-top: 17px;height: auto;}
  .null-line span {font-size: 15px!important;}
  .null-line select {width: 100%;margin-top: 10px;margin-bottom: 10px;font-size: 14px;}
  .file_upload {float: none;}
  .cost {float: left;margin-left: 0px;}
  .additional-work li {margin-left: 0px;}
  .application.message {width: 100%; height: 373px;}
  .application.message form {height: 178px;}
  .application h2 {width: 100%; margin: 0 auto;}
  .application.message h2 {padding-top: 0px; padding-right: 0px;}
  .application1 {width: 100%!important; height: auto;border: none;padding: 0px 10px 0px 10px;box-sizing:border-box;}
  .alignment {width: 100%;}
  .forms-search {border-right:none;padding-left: 0px; height: 165px;box-sizing:border-box;width: 100%;}
  .colortext {font-size: 22px;}
  .forms-1 {padding-left: 0px;height: 212px;box-sizing:border-box;width: 100%;}
  .list-works {width: 300px;}
  .additional-column {width: 235px;}
  .advantagesMain {display: none;}
  .file_upload {margin-top: 20px;}
  .uploadButton {font-size: 15px;padding-left: 6px;}
  .inside h1, h2 {padding-top: 10px;}
  .forms-search form {width: 100%;}
  .list-service img {margin-bottom: 10px;}
  .view-service {font-size: 13px;margin: 0px 2px 15px;}
  .list-service, #inputMsg {width: 300px;}
  input.search {width: 100%;}
  input#name-theme {width: 100%;}
  #sendMsg, .forms form, .forms-1 form {width: 100%}
  #textContainer {padding-top: 0px;}
  #pageText h2 {font-size: 20px;width: 300px;box-sizing:border-box;}
  #inputMsg {float: none;}
  #callback:before {background-image: none;}
h2.info-work {width: 100%;padding-left: 0px!important;}
h2.ask-quest {padding-left: 0px!important;}
.content {height: auto;}

  





  p.bol {font-size: 18px;}

  .garantii img {width: 45px;}

  .column-1.right {
    margin-right: 20px;
}
.column-1 {height: 750px!important;float: none;width: 300px!important;}

.success-1 {width: 300px!important;height: 1434px!important;}

  .call li:last-child {display: none;}

  .column-1 {
  width: 340px;
}

.list-service li {margin-right: 0px!important;width: 28%;}

  .success-1 {
    width: 700px;
    margin: 0 auto;
    height: 700px;
    margin-top: 20px;
    padding-bottom: 40px;
}

  .picture-3, .picture-4{
    width: 100%;
}


  #navigation {

    display: none;
  }

.close {float: right;position: initial;}

.close:before {
  border-top: 1px solid black;
  top: 16px;
  right: 16px;
}

.close:after {
  border-right: 1px solid black;
  top: 2px;
  right: 16px;
}

.center {margin-left: 10px;margin-right: 10px; margin-bottom: 50px!important;}

    .additional-column {
    height: 350px;}

    .application.wind {height: auto!important;width: 100%;}
    .question {padding: 25px 0px 0px 10px;}
    .answer {padding: 20px 10px 0px;}
    p.tick {font-size: 20px!important;margin-right: 10px;margin-bottom: 20px;}

    ul.additional-work {
      width: 340px;
      margin-top: 0px;
    }

    .thing-1{
          max-width: 760px;
    }

    p.about.line {
      max-width: 700px;
      line-height: 1.5;
    }

    .list-works {
      max-width: 742px;

    }

    p.about.bold {
    max-width: 700px;
}

  


  #middle-nav {

    float: right;
    background-color: #fff;
    position: relative;
    top: 0px;
    /*right: -42px;*/
    padding: 0px 10px;
    border-top: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }

  ul.additional-work {

    max-width: 615px;
  }

  #middle-nav a {

    color: #000;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 16px;
    padding: 10px 45px 10px;
    display: block;
    position: relative;

      
    }

  #middle-nav.active {

    display: block;
    float: right;
  }

  #middle-nav li {

    display: block;
    border-bottom: 1px solid #dddddd;
  }

  #middle-nav li:last-child {

    margin-bottom: 0;
    border-bottom: none;
  }

  .main {

    padding-left: 0px;
  }

  .social-block {

    display: none;
  }

  #toggle {

    display: block;
    width: 32px;
    height: 40px;
    float: right;
    margin: 23px 10px 0px 0px;
    cursor: pointer;
    position: relative;
  }

  .sandwich-toggle {

    width: 100%;
    height: 3px;
    background-color: #3c3c3c;
  }

  .sandwich-toggle:after {

    content: '';
    width: 100%;
    height: 3px;
    background-color: #3c3c3c;
    position: absolute;
    top: 8px;
  }

  .sandwich-toggle:before {

    content: '';
    width: 100%;
    height: 3px;
    background-color: #3c3c3c;
    position: absolute;
    top: 16px;
  }

  .call {

    position: initial;
    right: 0px;
    width: 100%;
  }

  #types-jobs {

    margin-top: 30px;
  }

  ul.garantii div, 
  ul.payment div {

    border-bottom: none;
  }

  ul.garantii {

    height: auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }



  li.block-question {

    
    margin: 0px auto;
  
  }

  .block-question {

    max-width: 700px;
  }

  input,select, textarea {

    -webkit-appearance: none;
    box-sizing: border-box;
    border-radius: 0px;
  }

  .application {

    width: 100%;

    padding-right: 10px;
    padding-left: 10px;
    box-sizing:border-box;
  }

  .application1 {

    width: 900px;

  }

  .advantages{width: 300px; height: 150px;}
  .advantages-1, .advantages-2, .advantages-3 {height: 116px;width: 33%;}
  .advantages-center {height: 75px;width: 100%;margin: 0px;}
  .advantages-center img {width: 40px;}
  .content p {font-size: 12px;}

  .file_upload {

    left: 0px;
  }

  input.term-2 {

    position: absolute;
    top: 0px;
    left: 248px;
  }
}

@media (max-height: 740px) and (max-width: 1300px){
.application.wind {margin-top: 0px;padding-top: 0px;height: auto; }
.advantages {height: 116px;}
.advantages-center {top: 0px;}
form {margin-top: 50px;}
.null-line {margin-top: 0px;}
.info-area {margin-top: 0px;}
/*.application {height: 670px;}*/
.null-line span {font-size: 17px;}
}

@media (max-height: 740px) {
#navigation li {height: 49px!important; margin-top: 0px;}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation:portrait) {



  .application1 {

    width: 727px;
  }



  .forms-search {

    width: 340px;
  }

  .forms-1 {

    width: 300px;
    padding-left: 20px;
  }

  .thing-1 {

    max-width: 700px;
  }

  select#exampleInputType-1 {

    box-sizing: border-box;
    width: 100%;
  }

  .forms-1 form {

    width: 300px;
  }

  input.button-search {

    margin-left: 0px;
  }

  .application.wind {

    width: 100%;
  }
}

.application.wind {
  margin-top: 0;
  border-radius: 0;

}
.search-result-name a {
  color: #7AB5E3;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Roboto';
}
.handyWorks-description pre {
  width: 100%;
  display: block;
  word-break: break-all;
}
@media (max-width: 767px) {
  .application.wind {height: 100%; border-radius: 0;}
}

}

